Levenshtein Distance

Find for: 1. Price and Rice
          2. Elephant and Relevant
          3. Intention and Extension

In [25]:
#Initilizing DataFrame
import pandas as pd

word1 = list("0" + input("Enter First Word: "))
word2 = list("0" + input("Enter Second Word: "))

df = pd.DataFrame(data = 0, index = word1, columns = word2)
df

Enter First Word: intention
Enter Second Word: extension

   0  e  x  t  e  n  s  i  o  n
0  0  0  0  0  0  0  0  0  0  0
i  0  0  0  0  0  0  0  0  0  0
n  0  0  0  0  0  0  0  0  0  0
t  0  0  0  0  0  0  0  0  0  0
e  0  0  0  0  0  0  0  0  0  0
n  0  0  0  0  0  0  0  0  0  0
t  0  0  0  0  0  0  0  0  0  0
i  0  0  0  0  0  0  0  0  0  0
o  0  0  0  0  0  0  0  0  0  0
n  0  0  0  0  0  0  0  0  0  0

In [26]:
#Adding Starting Values
for i in range(len(word1)):
    for j in range(len(word2)):
        if i == 0 or j == 0:
            df.iloc[i, j] = i + j
        else:
            break
df

   0  e  x  t  e  n  s  i  o  n
0  0  1  2  3  4  5  6  7  8  9
i  1  0  0  0  0  0  0  0  0  0
n  2  0  0  0  0  0  0  0  0  0
t  3  0  0  0  0  0  0  0  0  0
e  4  0  0  0  0  0  0  0  0  0
n  5  0  0  0  0  0  0  0  0  0
t  6  0  0  0  0  0  0  0  0  0
i  7  0  0  0  0  0  0  0  0  0
o  8  0  0  0  0  0  0  0  0  0
n  9  0  0  0  0  0  0  0  0  0

In [27]:
#Finding Minimum Operations
for i in range(1, len(word1)):
    for j in range(1, len(word2)):
        l = [df.iloc[i - 1, j] + 1, df.iloc[i, j - 1] + 1]
        if word1[i] == word2[j]:
            l.append(df.iloc[i - 1, j - 1])
        else:
            l.append(df.iloc[i - 1, j - 1] + 1)
        df.iloc[i, j] = min(l)

print("Minimum Operations Required:", df.iloc[len(word1) - 1, len(word2) - 1])
df

Minimum Operations Required: 3

   0  e  x  t  e  n  s  i  o  n
0  0  1  2  3  4  5  6  7  8  9
i  1  1  2  3  4  5  6  6  7  8
n  2  2  2  3  4  4  5  6  7  7
t  3  3  3  2  3  4  5  6  7  8
e  4  3  4  3  2  3  4  5  6  7
n  5  4  4  4  3  2  3  4  5  6
t  6  5  5  4  4  3  3  4  5  6
i  7  6  6  5  5  4  4  3  4  5
o  8  7  7  6  6  5  5  4  3  4
n  9  8  8  7  7  6  6  5  4  3

Outputs:
    1. Minimum Operations Required: 1
    2. Minimum Operations Required: 3
    3. Minimum Operations Required: 3